@import "./global.css";

.settings {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 35rem;
	padding: 2rem;
	color: rgb(77, 77, 77);

	background-color: white;
	border-radius: 5px;
	box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

.settings {
	display: none;
}

header.settings-header {
	display: flex;
	justify-content: space-between;
	gap: 50%;
	margin-bottom: 2rem;
	border-bottom: solid 0.1rem rgb(218, 218, 218);
	padding-bottom: 1rem;
}

img.close-btn {
	height: 1.4rem;
	width: 1.4rem;
}

div.time-settings-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 35rem;
	grid-column-gap: 4.8rem;
	justify-items: start;
}

input.time-input {
	width: 6rem;
}

div.toggle-auto,
div.settings-interval {
	display: flex;
	justify-content: space-between;
}

div.settings-interval {
	border-bottom: solid 0.1rem rgb(210, 210, 210);
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

input.long-break-interval {
	width: 5rem;
}

button.ok-settings {
	background-color: black;
}

footer.settings-footer {
	display: flex;
	justify-content: flex-end;
}

p.settings-label {
	font-weight: bold;
	color: grey;
}

input.time-input {
	background-color: rgb(240, 240, 240);
	border: none;
	height: 3rem;
}

p.auto-start-breaks,
p.auto-start-pomodoro,
p.long-break-interval {
	font-weight: bold;
}

button.color-picker-btn {
	height: 2rem;
	width: 2rem;
	background-color: blue;
	margin-left: 0.5rem;
}

div.color-section {
	display: flex;
	justify-content: space-between;
}

p.color-themes {
	font-size: 1.2rem;
}
